@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.rdt > input { /* Target the main picker container */
  width: 230px; /* Set your preferred width */
  outline: none;
  padding: 0.5em;
}